name: Reado CI

on:
  push:
    branches: ["**"]
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: Install backend dependencies
      run: |
        cd backend
        npm ci

    - name: Start backend
      run: |
        cd backend
        node server.js &
        sleep 5
      env:
        MONGODB_URI: mongodb://localhost:27017/test

#    TEMPORARILY DISABLED FOR ROLLBACK DRILL
#    - name: Liveness check
#      run: curl --fail http://localhost:5001/live
    
    - name: Install frontend dependencies
      run: |
        cd frontend
        npm ci
    
    - name: Build frontend
      run: |
        cd frontend
        npm run build
    
    - name: Login to GHCR
      run: echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.actor}} --password-stdin
    
    - name: Build docker image
      run: |
        docker build \
          -t ghcr.io/aaryanmanchanda/reado:${{github.sha}} \
          -t ghcr.io/aaryanmanchanda/reado:main \
          .
    - name: Push Docker Images
      if: github.ref == 'refs/heads/main'
      run: |
        docker push ghcr.io/aaryanmanchanda/reado:${{github.sha}}
        docker push ghcr.io/aaryanmanchanda/reado:main
   
    - name: Run container
      run: |
        docker run -d -p 3000:3000 \
          -e PORT=3000 \
          -e MONGODB_URI=mongodb://localhost:27017/test \
          --name reado-test \
          ghcr.io/aaryanmanchanda/reado:${{github.sha}}
        sleep 5

    - name: Container liveness check
      run: curl --fail http://localhost:3000/live

    - name: Stop container
      run: docker stop reado-test
    
